<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head(title)">
    <!--<link href="/../css/whatsup.css" rel="stylesheet" />-->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>

    <!-- Bootstrap Core CSS -->
    <link href="/../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"/>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/../lib/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/../lib/simple-line-icons/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="/../lib/device-mockups/device-mockups.min.css"/>
    <link href="/../css/login.css" rel="stylesheet"/>
    <link href="/../css/dashboard.css" rel="stylesheet" />
    <link href="/../css/register.css" rel="stylesheet"/>

    <!-- Theme CSS -->
    <link href="/../css/new-age.min.css" rel="stylesheet"/>

    <title th:text="${title}">#WhatsUP!</title>
</head>

<!-- basic bootstrap navbar -->
<!--<nav th:fragment="my-navbar" class="navbar navbar-default">-->

<nav th:fragment="navbar" id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" th:href="@{/}">HOME</a>
        </div>
      <!--<ul>-->
        <!--<li sec:authorize="isAuthenticated()"><a href="#" class="btn-link btn">User Name<span sec:authentication="name"></span></a></li>-->
        <!--<li sec:authorize="isAuthenticated()">-->
            <!--<form th:action="@{/logout}" th:method="post">-->
                <!--<button class="btn-link btn" >Logout</button>-->
            <!--</form>-->
        <!--</li>-->
          <!--<li sec:authorize="!isAuthenticated()"><a href="/login">Sign-in</a></li>-->
          <!--<li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>-->
      <!--</ul>-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#download">Log In</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">Register</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>












<!--<nav th:fragment="navbar" id="mynav" class="navbar navbar-toggleable-md navbar-light bg-faded">-->
    <!--<div class="container-fluid">-->

        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" th:href="@{/index}">WhatsUp</a>-->
        <!--</div>-->

        <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav">-->

                <!--<li sec:authorize="isAuthenticated()"><a href="#" class="btn-link btn">User Name<span sec:authentication="name"></span></a></li>-->
                <!--<li sec:authorize="isAuthenticated()">-->
                    <!--<form th:action="@{/logout}" th:method="post">-->
                        <!--<button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
                    <!--</form>-->
                <!--</li>-->

                <!--<li sec:authorize="!isAuthenticated()"><a href="/login">Sign-in</a></li>-->
                <!--<li sec:authorize="!isAuthenticated()"><a href="/register">Register</a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->

    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->









<!--<form th:fragment="form">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" th:field="*{title}"/>
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <input id="body" type="text" th:field="*{body}"/>
    </div>
    <button class="btn btn-default">Save</button>
</form>-->

<form th:fragment="couponForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" th:field="*{title}"/>
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('title')}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:errors="*{title}" />
        </div>
    </div>
    <div class="form-group">
        <label for="couponCode">Code</label>
        <input id="couponCode" class="form-control" th:field="*{couponCode}"/>
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('couponCode')}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:errors="*{couponCode}" />
        </div>
    </div>
    <!--<div class="form-group">
        <label for="startDatetime">Start time</label>
        <div class='input-group date' id='startDatetime'>
            <input type='text' class="form-control" th:field="*{startDatetime}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="endDatetime">Expires</label>
        <div class='input-group date' id='endDatetime'>
            <input type='text' class="form-control" th:field="*{endDatetime}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>-->
    <div class="form-group">
        <label for="description">Description</label>
        <input id="description" class="form-control" th:field="*{description}"/>
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('description')}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:errors="*{description}" />
        </div>
    </div>
    <div class="form-group">
        <label for="value">Value</label>
        <input id="value" class="form-control" th:field="*{value}"/>
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('value')}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:errors="*{value}" />
        </div>
    </div>
    <div class="form-group">
        <label for="restriction">Restrictions</label>
        <input id="restriction" class="form-control" th:field="*{restrictions}"/>
        <div class="alert alert-warning alert-dismissible" role="alert" th:if="${#fields.hasErrors('restrictions')}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span th:errors="*{restrictions}" />
        </div>
    </div>
    <div class="form-group">
        <label for="file">Image</label>
        <input type="file" class="form-control" name="file" id="file" />
    </div>
    <button class="btn btn-default">Save</button>
</form>

<div th:fragment="scripts">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/../node/sample.js"></script>
</div>

</html>