ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    /*text-align: center;*/
    padding: 1px 16px;
    text-decoration: none;
}
ul.topnav li a:hover{color:yellow;}
ul.topnav li a:hover:not(.active) {background-color: grey;}

/*ul.topnav li a.active {background-color: orange;}*/

ul.topnav li.right {float: right;}


#home{
    display: none;
}
#login{
    display: none;
}
#register{
    display: none;
}
#contact{
    display: none;
}

@media screen and (max-width: 736px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

#usersTable {
    color: black;
    opacity: .7;

}

#vendorTable {
    color: black;
    opacity: .7;

}

#userTable {
    color: black;
    opacity: .7;
    float: right;
    padding: 0;
    margin-top: 60px;
    margin-right: 50px;
}


#udashtwo {
    float: right;
    margin-right: 212px;
    margin-top: 80px;
}

.dt-button.buttons-create {
    margin-left: 85px;

}

#saveCoup {
    padding: 0px;
}