@import url(//fonts.googleapis.com/css?family=Catamaran);
@import url(//fonts.googleapis.com/css?family=Lato);

body {

    color: white;
    background-image: url("../img/dinnertable.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

div {
    text-align: center;
}

a {
    color: lightskyblue;
    text-decoration: none;
    font-family: Lato;
    letter-spacing: 2px;
    font-size: 1vw;

}

a:hover {
    color: orange;
}

input {
    height: 3vh;
    width: 20vw;
    border-radius: 32px;
}

button {
    background-color: orange;
    border-radius: 32px;

}

#bgoverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: -100;
}

.attention {
    color: red;

    font-family: "Catamaran";

    letter-spacing: 2px;
}

h1 {
    font-family: "Catamaran";
    font-size: 6vw;
    margin: 0;
    font-weight: 200;
    letter-spacing: 1px;
}

#logindiv {
    /*margin-top:20vh;*/
    /*border:2px solid yellow;*/
    position: relative;
    z-index: 100;
}

#logindiv2 {
    /*margin-top:20vh;*/
    /*border:2px solid yellow;*/
}

p {
    font-family: Catamaran;
    font-size: 4vw;
    margin: 0;
}

.signin {
    font-size: 1vw;
}

.username {
    font-size: 1.5vw;
}

@media only screen and (min-width: 480px) {
    p {
        font-size: 7vw;
    }

    input {
        height: 3vh;
        width: 30vw;
        border-radius: 32px;
    }

    .signin {
        font-size: 3vw;
    }

    .username {
        font-size: 4vw;
    }

    a {
        font-size: 2vw;
    }

    button {
        width: 20vw;
        height: 5vw;
    }

}

@media (min-width: 768px) {
    input {
        height: 4vh;
        width: 40vw;
    }

    p {
        font-size: 5.5vw;
    }

    a {
        font-size: 3vw;
    }

    h1 {
        font-family: "Catamaran";
        font-size: 6vw;
        margin: 0;
        font-weight: 200;
        letter-spacing: 1px;
    }

    button {

        width: 16vw;
        height: 4vw;
    }

}

@media only screen and (min-width: 1120px) {

    p {
        font-size: 4vw;
    }

    input {
        height: 3vh;
        width: 20vw;
        border-radius: 32px;
    }

    button {
        background-color: orange;
        border-radius: 32px;
        width: 8vw;
        height: 2.5vw;
    }

    .signin {
        font-size: 1.8vw;
    }

    .username {
        font-size: 2vw;
    }

    a {
        font-size: 2vw;
    }
}


















