<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('Dashboard')" />



<body>
<nav th:replace="fragments/fragments :: navbar" />
<div id="bgoverlay"></div>

<h1>Admin Dashboard</h1>

<h4>Users</h4>
<div class="container-fluid col-lg-12">
    <button class="btn btn-default" id="acreate" type="submit">New</button>
    <button class="btn btn-default" id="aedit" type="submit">Edit</button>
    <button class="btn btn-default" id="adelete" type="submit">Delete</button>
    <table id="usersTable" class="display" cellspacing="0" width="100%">
    <thead>
        <!-- Header Table -->
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date Created</th>
        </tr>
    </thead>

        <!-- Footer Table -->
        <!--<tfoot>-->
        <!--<tr>-->
            <!--<th>Id</th>-->
            <!--<th>First Name</th>-->
            <!--<th>Last Name</th>-->
            <!--<th>User Name</th>-->
            <!--<th>Email</th>-->
            <!--<th>Phone</th>-->
            <!--<th>Date Created</th>-->
        <!--</tr>-->
        <!--</tfoot>-->
    </table>
</div>
<div th:replace="fragments/fragments :: scripts" />
<script type="text/javascript">
    var editor;
    $(document).ready( function () {
        "use strict";

        editor = new $.fn.dataTable.Editor({
            "ajax": "/couponstable",
            "table": "#userTable"
        });

        $('a.editor_create').on('click', function (e) {
            e.preventDefault();

            editor.create({
                "title": 'Create new record',
                "buttons": 'Add'

            });
    });

        var table = $('#usersTable').DataTable({
            "responsive": true,
            "searching": true,
            "bLengthChange": false,
            /*"mRender": function (data) {
                return 'Add';
            },*/
            "columnDefs": [ {
                "orderable": false,
                "className": 'select-checkbox',
                "targets":  0
            } ],
            "select": {
                "style": 'os',
                "selector": ':not(:last-child)'
            },
           /* "dom": 'Bfrtip',
            "buttons": [
                { extend: 'create', editor: editor },
                { extend: 'edit',   editor: editor },
                { extend: 'remove', editor: editor }
            ],*/

            "sAjaxSource": "/userstable",
            "sAjaxDataProp": "",
            "order": [[0, "asc"]],
            "aoColumns": [                    /*These column names correspond with names in the User model*/
                { "mData": "id"},
                { "mData": "firstName" },
                { "mData": "lastName" },
                { "mData": "username" },
                { "mData": "email" },
                { "mData": "phoneNumber" },
                { "mData": "createTime" }

                ]
        });



        $(".dt-button.buttons-create").click(function (e) {
            e.preventDefault();

            editor.create({
                title: 'Create new coupon',
                buttons: 'Add'

            });

        });





//        table.ajax().url('/userstable').load();

        setInterval( function () {
            table.ajax.reload();
        }, 30000 );

    });

</script>
</body>
</html>