<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head th:replace="fragments/fragments :: head('Users Dashboard')"/>


<body>
<nav th:replace="fragments/fragments :: navbar"/>
<div id="bgoverlay"></div>


<h2 id="udash">Your Dashboard</h2>



<div class="container-fluid col-lg-12">


    <!-- ============= Users Dashboard ================ -->
    <div sec:authorize="hasRole('ROLE_USER')">
        <div th:object="${user}">
            <h3 id="welcomeUser">Welcome, <span th:text="*{username}"></span></h3>
        </div>
        <br/>


        <form id="saveCoup" th:action="@{/user/{id}/savecoupon(id=${user.id})}" th:method="POST">

            <div class="form-inline">
                <label class="mr-sm-2" for="custom-select">Active Coupons</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="custom-select" name="coupon_id">

                    <option th:each="coupon : ${coupons}" th:value="${coupon.id}" th:text="${coupon.description}"/>

                </select>

                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input"/>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Remember my preference</span>
                </label>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>


    </div>
    <div id="googleMap" style="width:90%;height:400px;margin-top: 90px; margin-left: 65px"></div>


    <table id="userTable" class="display col-sm-4" cellspacing="0" width="30%">
        <h4 id="udashtwo">My Coupons</h4>

        <thead>
        <tr>

            <th>Coupon</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${userCoupons}">


            <td th:text="${coupon.description}"></td>
            <td th:text="${coupon.endDatetime}"></td>
        </tr>
        </tbody>

    </table>

</div>


<!-- ========== Javascript ============ -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWaILCW6S7JZjUx7MVdlBqq6YNNwxRvCk&amp;sensor=false"></script>

<div th:replace="fragments/fragments :: scripts"/>
<script th:src="@{/js/map.js}"></script>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
<script type="text/javascript">
    var editor;

    $(document).ready(function () {
        "use strict";


        var table = $('#userTable').DataTable({
            "responsive": true,
            "searching": false,
            "bLengthChange": false,
            "bPaginate": false,
            "bInfo": false,

            "order": [[0, "asc"]]

        });


    });

</script>
</body>
</html>