<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('Sign In')" />
<body>
<nav th:replace="fragments/fragments :: navbar"/>

<div id="bgoverlay"></div>

<div id="logindiv" class="attention" th:if="${param.error}">
    <p>Uh oh. Invalid Username and Password.</p>
</div>


<div id="logindiv2" class="attention" th:if="${param.logout}">
    <p> See ya soon! You have been logged out.</p>
</div>


<div class="col-lg-12">
    <h1>Sign In!</h1>

    <form th:action="@{/login}" th:method="POST">

        <div>
            <input  class="  username" name="username" type="text" placeholder="Enter Your Username"/>
        </div>

        <br/>

        <div>
            <input class=" username" name="password" type="password" placeholder="Enter Your Password"/>
        </div>
        <br />
        <button class="signin">Forgot Password</button>
    </form>



    <br/>

    <br/>
    <div>
        <br/>
        <!--<span><a data-toggle="modal" data-target="#forgotModal" href="#">Forgot Password?</a></span>-->
    </div>
    <br/>

</div>

<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div th:replace="fragments/fragments :: scripts"/>
</body>
</html>
