<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Register form')" />



<body id="page-top">
<nav th:replace="fragments/fragments :: navbar"/>


<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>#WhatsUP! is a new app that will give you exclusive discounts to your city's unique
                            restaurants and bars! </h1>
                        <a th:href="@{/register}" class="btn btn-outline btn-xl page-scroll">Register for free!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div id="firstphone" class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img style="height: 100%;" src="/../img/phone1.jpg" class="img-responsive" id="1phoneimage" alt="" />
                            </div>
                            <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="download" class="download bg-primary text-center  sa">
    <div class="container bgoverlay" >
        <div class="row ">
            <div class="col-md-8 col-md-offset-2 ">
                <h2 class="section-heading">Discover what all the buzz is about!</h2>
                <p>Our app is available on any mobile or tablet device </p>

                <a id="midbutton" class="btn btn-outline btn-xl page-scroll"  th:href="@{/login}">Login!</a>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img style="height: 100%;" src="/../img/res3.jpg" class="img-responsive" alt=""/>

                            </div>
                            <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <!--<i class="icon-screen text-primary" ></i>-->
                                <img  id="wallet"  src="/../img/wallet.svg"/>
                                <h3>Easier on the Wallet</h3>
                                <p class="text-muted">Get exclusive member discounts !</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">

                                <img id="city" src="/../img/city.svg"/>
                                <h3>Help the Cause</h3>
                                <p class="text-muted">You get to support your local San Antonio economy !</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img  src="/../img/party.svg"/>

                                <h3>New and Exciting Places</h3>
                                <p class="text-muted">Explore new restaurants and bars to meet up with your friends
                                    !</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <img id="pig" src="/../img/piggybank.svg"/>

                                <h3>Enjoy Life Conveniently</h3>
                                <p class="text-muted">Completely Free !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="burger" id="burgerdiv">
    <div>
        <div class="container">
            <h2 id="stopwaiting">Stop waiting.<br/>Start Exploring.</h2>
            <a th:href="@{/login}" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
        </div>
    </div>
    <!--<div class="overlay"></div>-->
</section>

<section id="#contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <br/>
        <h2>Meet the Developers</h2>
        <ul class="list-inline list-social">
            <li class="josh">
                <a href="https://jsr7.github.io/"><i></i></a>
            </li>
            <li class="del">
                <a href="https://github.com/suffa07"><i></i></a>
            </li>
            <li class="moses">
                <a href="https://github.com/mrmosesf"><i></i></a>
            </li>
        </ul>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2017 Whatsup Project</p>
        <!--<ul class="list-inline">-->
            <!--<li>-->
                <!--<a href="#">Privacy</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Terms</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">FAQ</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</footer>


<div th:replace="fragments/fragments :: scripts"/>
</body>

</html>
