<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('Sign In')" />
<body>
<nav th:replace="fragments/fragments :: navbar"/>

<div id="bgoverlay"></div>

        <div id="logindiv" class="attention" th:if="${param.error}">
            <p>Uh oh. Invalid Username and Password.</p>
        </div>


        <div id="logindiv2" class="attention" th:if="${param.logout}">
           <p> See ya soon! You have been logged out.</p>
        </div>


<div class="col-xs-10 col-lg-6 col-lg-offset-3 col-xs-offset-1">
    <h1 class="header">Sign In!</h1>


    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>


    <form th:action="@{/login}" th:method="POST">

        <div>
            <input class="form-control" name="username" type="text" placeholder="Enter Your Username"/>
        </div>

        <br/>

        <div>
            <input class="form-control" name="password" type="password" placeholder="Enter Your Password"/>
        </div>
        <br />
        <button class="btn btn-primary">Sign In</button>
    </form>



        <br/>

        <br/>
        <div>
                <br/>
                <span><a data-toggle="modal" data-target="#forgotModal" href="#">Forgot Password?</a></span>
        </div>
<br/>

</div>

<div class="modal fade bs-example-modal-sm" id="forgotModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="modalClose" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="forgotPasswordLabel" class="modal-title">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <input type="email" placeholder="Email"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div th:replace="fragments/fragments :: scripts"/>
</body>
</html>