<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('Sign In')" />
<body>
<nav th:replace="fragments/fragments :: navbar"/>

<div id="bgoverlay"></div>

        <div id="logindiv" class="attention" th:if="${param.error}">
            <p>Uh oh. Invalid Username and Password.</p>
        </div>


        <div id="logindiv2" class="attention" th:if="${param.logout}">
           <p> See ya soon! You have been logged out.</p>
        </div>


<div class="col-lg-12">
    <h1>Sign In!</h1>

    <form th:action="@{/login}" th:method="POST">

        <div>
            <input  class="  username" name="username" type="text" placeholder="Enter Your Username"/>
        </div>

        <br/>

        <div>
            <input class=" username" name="password" type="password" placeholder="Enter Your Password"/>
        </div>
        <br />
        <button class="signin">Sign In</button>
    </form>



        <br/>

        <br/>
        <div>
                <br/>
                <span><a  href="#">Forgot Password?</a></span>
        </div>
<br/>




</div>





<div th:replace="fragments/fragments :: scripts"/>
</body>
</html>