<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Sign In')" />
<body>

<!--<nav th:replace="fragments :: my-navbar" />-->
<nav th:replace="fragments :: navbar" />
<div class="container">
    <h1>Sign In</h1>

    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <div class="container-fluid" id="loginform">
        <form th:action="@{/login}" th:method="POST">
            <div class="form-group row">
                <label id="uname" class="col-sm-4 col-form-label" for="username">Username</label>
                <div class="col-sm-6">
                    <input class="custom-control-indicator search-input" id="username" name="username" type="text" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label id="pname" class="col-sm-4 col-form-label" for="lpassword">Password</label>
                <div class="col-sm-6">
                    <input class="custom-control-indicator search-input" id="lpassword" name="password" type="password" />
                </div>
            </div>
            <button id="lbutton" class="btn btn-primary">Sign in</button>
            <button id="lgbutton" class="btn btn-secondary">Register</button>
        </form>
    </div>

</div>

</body>
</html>