<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('Register form')" />



<body>

<nav th:replace="fragments/fragments :: navbar" />

<!--<div id="bgoverlay"></div>-->

<div id="registererror" class="attention" th:if="${param.error}">
    <p>Invalid Username, Email, or Password.</p>
</div>

<div id="registerdiv" class="col-lg-12"><h3 class="header">Registration</h3>
    <div >
            <form th:action="@{/register}" th:method="POST" th:object="${user}">
                <div>

                        <div >
                            <input class="username"  placeholder=" Username" th:field="*{username}" />
                        </div>
                    <br/>

                        <div>
                            <input class="username"  placeholder=" Email" th:field="*{email}" />
                        </div>

                    <br/>

                        <div>
                            <input  type="password" class="custom-control-indicator nsearch-input username" placeholder=" Enter Your Password" th:field="*{password}" />
                        </div>

                    <br/>
                    <div>
                        <input  class="username" type="password"  placeholder=" Confirm Password" th:field="*{password}" />
                    </div>

                    <br/>
                    <div>
                        <input class="username" type="text"  placeholder=" Phone Number" th:field="*{phoneNumber}" />
                    </div>

                    <br/>

                    <input id="vendor" type="checkbox" name="vendor" value="vendor"/>Vendor Profile?

                    <br/>
                        <!--<input id="rbutton" class="btn" type="submit" />-->
                        <button class="signin"><span>Register</span></button>
                </div>
            </form>
    </div>
</div>

</body>
</html>