<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head('Register form')" />
<body>

<nav th:replace="fragments :: navbar" />

<div class="container">
    <div class="row">
        <h1>Register</h1>
        <div class="col l8 offset-l2">
            <form th:action="@{/register}" th:method="POST" th:object="${user}">
                <label id="runame" for="rusername">Username</label>
                <input id="rusername" class="form-control" th:field="*{username}" />

                <label id="rmail" for="remail">Email</label>
                <input id="remail" class="form-control" th:field="*{email}" />

                <label id="rpassword" for="password">Password</label>
                <input id="password" type="password" class="form-control" th:field="*{password}" />

                <input id="rbutton" class="btn" type="submit" />
            </form>
        </div>
    </div>
</div>

</body>
</html>