<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments :: head('Yelp')" />
<body>

    <div id="results"></div>

    <div th:replace="fragments :: scripts" />
    <script>
        $.ajax({
            method: "POST",
            url: "https://api.yelp.com/oauth2/token",
            data: {
                grant_type: "client_credentials",
                client_id: 'qoki5XUClSAHUg-8xN8eTg',
                client_secret: "fMXre7kUwan40vX4gvBKVYirqX8s9tYFvPlKF9ZbCBA3uQTYn1fpsxyP7WBEUhxJ",
            },
            success: function(data,textStatus,jqXHR) {
                console.log(data,textStatus,jqXHR);
            }
        })
    </script>

  <!--<script>
        $(document).ready(function() {

            "use strict";







            $.get(API_HOST).done(function(data) {

                for (var i = 0; i < data.length; i++) {
                    $("#results").append("<h1>" + data[i].id + "</h1>" + "<br> " + data[i].location[3] + "<br>" + data[i].name + "<br>" + "<h2>" + data[i].rating + "</h2>" + "<br>");

                }

            })

        });

    </script>-->
</body>
</html>