<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWaILCW6S7JZjUx7MVdlBqq6YNNwxRvCk&amp;sensor=false"></script>
<script th:replace="fragments/fragments :: scripts"></script>
<script th:inline="javascript">

    function getPoints() {
        var res;
        $.ajax({
            url:'/locations.json/-98.489576/29.426786/1',
            type:"GET",
            success: function(data){
                res = data;
            }
        });
        return res;
    }

    function initialize() {
        var mapProp = {
            center: new google.maps.LatLng(29.426786, -98.489576),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        $.each(getPoints(), function (key, location) {
            console.log(key);
            console.log(location);
            console.log(location.x);
            console.log(location.y);
            var tempMarker = new google.maps.Marker({
                position: new google.maps.LatLng(location.y, location.x),
                map: map
            });
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
</body>
</html>