<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('Places')">
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <div th:each="location : ${locations}" th:class="media">
        <div th:class="media-left">
            <a href="#">
                <img class="media-object" th:src="${location.imageUrl}" th:alt="${location.name}"/>
            </a>
        </div>
        <div th:class="media-body">
            <h4 th:class="media-heading"><span th:text="${location.name}"></span></h4>
            <h5><span th:text="${location.streetAddress}"></span></h5>
            <a th:href="@{|/places/${location.id}|}">More</a>
        </div>
    </div>
</div>

</body>
<script th:include="fragments/fragments :: scripts"></script>
</html>