<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('Places')">
    <meta charset="UTF-8"/>
</head>
<body>
<nav th:replace="fragments/fragments :: navbar"></nav>

<div class="container">
    <div class="jumbotron col-lg-6">
        <img style="max-width:100%;" th:src="${location.imageUrl}"/>
        <h2 th:text="${location.name}"></h2>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h3 th:text="${location.streetAddress}"></h3>
            <div><a th:href="${location.yelpUrl}">Yelp</a></div>
            <div><a th:href="@{|tel:${location.phoneNumber}|}">Call</a></div>
        </div>

        <div class="coupons">
            <span><h2>Available coupons:</h2></span>
            <div th:each="coupon : ${location.couponList}">
                <h2><a th:text="${coupon.title}" th:href="@{|/coupon/${coupon.id}|}"></a></h2>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/fragments :: scripts"></script>
</body>
</html>
